@import './_variables'
@import './_header.styl'
html
  font-family: sans-serif
  text-rendering: optimizespeed

* {
  box-sizing: border-box
  font-stretch: 100%
}

body
  background-color: #fff
  color: #444
  font-family: "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif
  font-size: 14px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

a
  color: #6E7173
  text-decoration: none
  transition: all .1s ease-in
  &:hover
    opacity 0.7

.main-body
    padding: 0 60px
    max-width: 1150px
    margin: 0 auto
.cottom-iconfont
  font-size: inherit
  &::before
    margin-right 2px

#footer
  font-size: 12px
  margin-top: 50px
  padding-bottom: 30px
  text-align: center

.blog-footer__source
  margin-left: 6px
  color: #666

.main-body-layout
  display flex
  &__left
    width 75%
  &__right
    width: 25%
    margin-top: 30px
    padding-left: 20px
    border-left: solid 1px #ddd

.blog-label__label-item
  margin-right: 8px
  padding: 2px 4px
  &.active
    border-radius: 14px
    border: solid 1px #ddd

.labels-container
  line-height: 2

.sider-item-title
  color: #6E7173
  line-height: 2.7
  font-size: 16px;
  border-bottom: 1px solid #ddd
  display: block
  font-weight: normal

.backt-to-top
  cursor pointer
  font-size: 1.6rem
  position: fixed
  right: 50px
  bottom: 50px
  display: block
