.blog-title
  font-weight 300


.blog-header
  padding: 58px 0 0
  text-align: left
  border-bottom: 1px solid #ddd
  position: relative

.site-title
  margin-bottom: 40px
  font: bold 15px/1.12 "Times New Roman", Georgia, Times, sans-serif
  a
    color: #555
  h1
    padding: 0
    margin: 0
    overflow: hidden

.blog-nav
  position: absolute
  right: 0
  bottom: 0
  padding: 0
  margin: 10px 0 -1px

.blog-nav__btn-item
  display: inline-block
  padding: 3px 20px 3px
  line-height: 30px
  color: #444
  font-size: 13px
  border: 1px solid transparent
  font-size: 14px
  cursor pointer
  &:hover
    opacity 1
  &__text
    font-size: 13px

  &.active
    border: 1px solid #ddd
    border-bottom-color: #fff
    &:hover
      border-bottom-color: #fff;
  &:hover
    border-bottom-color: #444
