@import './_common'

.blog-item__layout
  display: flex
  margin-top: 20px

.blog-item__layout-main
  width: 75%

.blog-item__layout-outline
  width: 25%

.blog-title
  margin: 0
  color: #555
  text-align: left
  font: bold 25px/1.1 "ff-tisa-web-pro", Cambria, "Times New Roman", Georgia, Times, sans-serif

.blog-item__label-item
  margin-right: 6px

.blog-label-container
  margin-left: 8px

.blog-meta
  margin: 12px 0 0;
  color: #999;

.blog-body
  margin-top: 20px
.blog-content
  margin-right: 20px
  padding-bottom: 20px
  border-bottom: solid 1px #ddd
.blog-item__layout-outline
  border-left: 1px solid #ddd
  margin-top: 40px
  padding: 10px 0 0px 20px
  ul,li
    list-style: none
    margin: 0
    padding: 0
  li.active
    color: #333
    &:hover
      color: #333
  .link-level-2
    padding-left: 10px
    font-size: 13px

.blog-comment
  position: relative
  min-height: 20px
  padding-right: 20px
  margin-top: 20px

.blog-comment-container
  margin-top: 30px

