include common/header.pug
include common/nav.pug
include common/siderbarlabels.pug
include common/blog-list.pug
include common/footer.pug

<!DOCTYPE html>
html
  +header(pageTitle)
  body
    link(rel="stylesheet", href="/css/blog-list.css")
    main.main-body
      +blogNav(navs, '', siteUrl)
      div.main-body-layout
        div.main-body-layout__left
          h2.blog-label__title=`label: ${active}`
          ul.blog-label__issues-list
            each item in issues
              li
                span=item.created_at
                a(href=`/blog/${item.formatterTitle}` class='blog-label__title')=item.title
        div.main-body-layout__right.siderbar
          div.labels-container
            +siderLabels(labels, active)
      +footer(siteUrl)
